html,
body {
  height: 100%;
}

body {
  background-size: 100% 100%;
  overflow-y: hidden;
  color: black;
}

#header-book {
  width: 60vw;
  font-size: 25vmin;
  text-align: center;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btns7 {
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0);
  font-size: 7vmin;
  font-family: "horev";
  font-weight: bold;
}
.header-page {
  font-size: 13vmin;
  text-align: center;
  width: 55vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.cover7 {
  background-color: #5ca482;
}
.page {
  background-color: #d6d7d7;
}
.text-p9 {
  font-size: 7vmin;
  position: relative;
  left: 40vw;
  transform: translate(-50%);
  text-align: right;
  direction: rtl;
}
li::marker {
  color: black;
}
.flex-container5 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    position: relative;
    margin-top: -3vh;
    left: 50%;
    transform: translate(-50%);
  }
  li::marker {
    color: black;
  }
  #press-5 {
    font-size: 7vmin;
  }
  #press-6 {
    font-size: 7vmin;
    text-align: center;
  }
  .text-p6 {
    font-size: 7vmin;
    position: relative;
    left: 40vw;
    transform: translate(-50%);
    text-align: right;
    direction: rtl;
  }
  .app-sub-o {
    font-size: 7vmin;
    font-family: "horev";
    border: solid #5ca482;
    background-color: #5ca482;
    color: white;
    width: 50vw;
    height: 7vh;
    margin: 0.8%;
  
    border-radius: 6px;
  }
  #o1,#o2,#o3,#o4,#o5 {
    display: none;
    width: 70vw;
    padding: 10%;
    text-align: center;
    position: absolute;
    font-size: 7vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2ecdf;
    color: #5ca482;
    border: 2px solid #5ca482;
    z-index: 4;
  }
Table {
  font-size: 7.5vmin;
  direction: rtl;
  position: absolute;
  top: 12vh;
  left: 50%;
  transform: translateX(-50%);
  width: 75vw !important;
}
.page-number {
  text-align: center;
  margin-bottom: 7%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1vh;
  font-size: xx-large;
  color: #626363;
}
#school-icon {
  width: 30%;
  position: relative;
  left: 50%;
  top: 10vw;
  transform: translateX(-50%);
}
#header-board9 {
  margin-top: -2px;
  text-align: center;
  color: #5ca482;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  font-size: 9vmin;
}
.open-book {
  animation: upscaleAnimation 1s ease forwards;
}


.home-icon {
  position: absolute !important;
  background-color: rgba(255, 255, 255, 0);
  font-size: 13vmin;
  left: 3vw;
  direction: ltr;
  border: #ffffff00;
  height: 10vh;
  top: 85%;
}
.close-book {
  direction: rtl;
  font-size: 8vmin;
  position: absolute;
  top: 3.5vh;
  right: 83vw;
  border: #ffffff00;
  background-color: #ffffff00;
}
.close-window2 {
    direction: rtl;
    font-size: 6vmin;
    position: absolute;
    top: 0vh;
    left: 0%;
    border: #5ca482;
    background-color: #5ca482;
  }
.book-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: scaleX(-1); */
  /* transform: translateX(-50%); */
  /* transform: rotateY(180deg); */
}
.the-end {
  font-size: 25vmin;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1vh;
}
#mivne-img {
  width: 100vw;
}


.miun-info {
  color: white;
  font-size: 6.5vmin;
  border-radius: 21px;
  width: 95%;
  text-align: center;
  position: relative;
  left: -5%;
  top: 0vh;
  margin-top: 1vh;
  height: 5vh;
  background-color: #5ca482;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

#level2 {
  background-color: #658b9b;
  animation: level2Animation 2s ease forwards;
}
#level3 {
  background-color: #7699a8;
  animation: level3Animation 2s ease forwards;
}
#level4 {
  background-color: #8babb9;
  animation: level4Animation 2s ease forwards;
}
#level5 {
  background-color: #a1bdc9;
  animation: level5Animation 2s ease forwards;
}
#level6 {
  background-color: #b3ccd6;
  animation: level6Animation 2s ease forwards;
}
#level7 {
  background-color: #b5cdd7;
  animation: level7Animation 2s ease forwards;
}
#level8 {
  background-color: #cfe0e7;
  animation: level8Animation 2s ease forwards;
}
.text {
  font-size: 6.5vmin;
  direction: rtl;
  width: 80vw;
}


.text1 {
  text-align: center;
  font-size: 7vmin;
  width: 80vw;

}
#kazhin-img {
  width: 30%;
}
@keyframes upscaleAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;

    transform: scale(1);
  }
}
@keyframes movingAnimation {
  0% {
    left: -90%
  }
  100% {
    left: -5%
  }
}
@keyframes level1Animation {
  0% {
    left: -90%
  }
  100% {
    left: -65%
  }
}
@keyframes level2Animation {
  0% {
    left: -90%
  }
  100% {
    left: -55%
  }
}
@keyframes level3Animation {
  0% {
    left: -90%
  }
  100% {
    left: -45%
  }
}
@keyframes level4Animation {
  0% {
    left: -90%
  }
  100% {
    left: -35%
  }
}
@keyframes level5Animation {
  0% {
    left: -90%
  }
  100% {
    left: -25%
  }
}
@keyframes level6Animation {
  0% {
    left: -90%
  }
  100% {
    left: -17%
  }
}
@keyframes level7Animation {
  0% {
    left: -90%
  }
  100% {
    left: -10%
  }
}
@keyframes level8Animation {
  0% {
    left: -90%
  }
  100% {
    left: -5%
  }
}
