html,
body {
  height: 100%;
}

body {
  background-size: 100% 100%;
  overflow-y: hidden;
  color: black;
}

#header-book {
  width: 60vw;
  font-size: 25vmin;
  text-align: center;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.the-end {
  font-size: 25vmin;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1vh;
}
#yoalam {
  font-size: 8vmin;
  direction: rtl;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}
#img-yoalam {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  margin-top: -25%;
}
#shekem-img {
  width: 100vw;
  /* transform: rotate(180deg); */
  opacity: 0.2;
  /* height: 35vh; */
  position: absolute;
  top: 15%;
}
#shekem-text {
  position: relative;
  text-align: center;
  top: 2vh;
  font-size: 11vmin;
}
#book-1-example {
  width: 60vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.cover {
  background-color: #2dbdbd;
}
.page {
  background-color: #d6d7d7;
}

.applications-images {
  width: 30%;
}
.container-button {
  width: 30%;
  height: 6vh;
  margin-left: -30%;
  border: #ffffff00;
  background-color: #ffffff00;
}
.container-button-portal {
  width: 32vw;
  height: 17vh;
  border: #ffffff00;
  background-color: #ffffff00;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -21vh;
  z-index: 4;
}
.container-button-afnayot {
  width: 20vw;
  height: 13vh;
  border: #ffffff00;
  background-color: #ffffff00;
  position: relative;
  left: 50%;
  top: -17vh;
  transform: translateX(-50%);
}
.container-button-torim {
  width: 31vw;
  height: 13vh;
  border: #ffffff00;
  background-color: #ffffff00;
  position: relative;
  top: -15vh;
  left: 50%;
  transform: translateX(-50%);
}
#portal {
  width: 35vw;
  height: 16vh;
}
#portal-img {
  width: 24vw;
  height: 11vh;
  margin: 20%;
}
#afnayot {
  /* width: 35vw;
  height: 16vh; */
  width: 23vw;
  height: 12vh;
  margin-bottom: 10%;
}
#torim {
  width: 35vw;
  height: 16vh;
  margin: 5%;
}
#zimun-logo {
  width: 20vw;
  margin: 22%;
}
.numbers-page {
  position: absolute;
  top: 1%;
}
#header-board {
  margin-top: -2px;
  text-align: center;
  /* direction: rtl; */
  color: #2dbdbd;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  font-size: 9vmin;
}
.header-page {
  font-size: 13vmin;
  text-align: center;
  width: 55vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.imgs {
  width: 25vw;
  display: flex;
}
.medi {
  font-size: 7vmin;
  text-align: center;
  margin-bottom: -20px;
}

.shalishut-btns {
  border: #ffffff00;
  background-color: #ffffff00;
  font-family: "horev";
}
.imagess {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -7%;
}
.Information3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Information4 {
  text-align: center;
  font-size: 4vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#warning-text {
  margin-top: 2vh;
  font-size: 4vmax;
  text-align: center;
  color: #865840;  
  width: 80vw;
}
#warning-icon {
  width: 20%;
}
.sub {
  border: 2px solid #2dbdbd;
  width: 80vw;
  border-radius: 20px;
  text-align: center;
  margin-top: 2%;
}
.header-base {
  font-size: 8vmin;
  margin-top: -35px;
  text-align: center;
  color: #ceae7f;
}
.p-width {
  width: 90vw;
}
.link-driving {
  color: #537c8e;
  font-size: 4vmax;
  text-decoration: underline;
}

#bus-img {
  width: 20vw;
  animation: busAnimation 4s ease forwards;
}
.specials {
  border: 2px solid #2dbdbd;
  font-size: 3vmax;
  text-align: center;
  width: 99%;
  margin-top: -2px;
}

#buttons-specials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 7vmax;
}
#private-special {
  display: block;
  font-size: 7vmin;
  margin: 15px;
}
#economy-special {
  display: none;
  font-size: 7vmin;
  margin: 15px;
}
#tash-phones {
  display: none;
  font-size: 7vmin;
  margin: 15px;
}
.tash-header {
  font-size: 9vmin;
  margin-bottom: 1vw;
}
#private {
  position: relative;
  padding: 2%;
  border: 2px solid #2dbdbd;
  font-size: 4vmax;
  font-family: "horev";
  background-color: #2dbdbd;
  width: 33.3vw;
}
#economy {
  position: relative;
  padding: 2%;
  border: 2px solid #2dbdbd;
  font-size: 4vmax;
  font-family: "horev";
  background-color: rgb(214 215 215);
  width: 33.3vw;
}
#tash {
  position: relative;
  padding: 2%;
  border: 2px solid #2dbdbd;
  font-size: 4vmax;
  font-family: "horev";
  background-color: rgb(214 215 215);
  width: 33.3vw;
}
.text-toranuyot {
  font-size: 3.5vmax;
  margin: 3px;
}
.turanuyot-header {
  font-size: 4vmax;
  margin: 4px;
}
.font-header {
  font-size: 4vmax;
  margin: 7%;
}
a {
  text-decoration: none;
  color: black;
}
.apps {
  width: 45vw;
  margin: 2%;
}
.applications {
  position: relative;
  top: -7vh;
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
  height: 60vh;
  width: 100vw;
}
.menu-container {
  display: flex;
  position: absolute;
  top: 10%;
  left: 5%;
}
.book-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: scaleX(-1); */
  /* transform: translateX(-50%); */
  /* transform: rotateY(180deg); */
}

button {
  z-index: 3;
  position: relative;
  top: 15%;
  color: black;
}
.btns {
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0);
  font-size: 7vmin;
  font-family: "horev";
  text-shadow: 0px 0px 40px #2dbdbd;
}
.page-number {
  text-align: center;
  margin-bottom: 7%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1vh;
  font-size: xx-large;
  color: #626363;

}
.dl1 {
  position: relative;
  top: 0vh;
  left: -15%;
  direction: rtl;
  font-size: 4.5vmax;
  font-weight: lighter;
}
.dl2 {
  position: relative;
  top: -58vh;
  left: 15vw;
  direction: ltr;
  font-size: 4.5vmax;
  /* margin-top: -20%; */
  font-weight: lighter;
}
h1 {
  font-size: 13vmin;
  text-align: center;
}

@keyframes upscaleAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;

    transform: scale(1);
  }
}

@keyframes warningAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;

    transform: scale(1);
  }
}
@keyframes busAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.open-book {
  animation: upscaleAnimation 1s ease forwards;
}
#clothes-icon {
  width: 15%;
  /* text-align: center; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#clothes-text {
  /* position: absolute; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8vmin;
  text-align: center;
  direction: rtl;
  width: 80vw;
}
#bin-icon {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 14%;
}
#bin-text {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8vmin;
  text-align: center;
  direction: rtl;
  width: 80vw;
}
#no-camera-icon {
  position: relative;
  left: 80%;
  width: 20vw;
}
.no-camera-text {
  position: relative;
  left: 50%;
  font-size: 9vmin;
  color: #865840;
  transform: translateX(-50%);
  text-align: center;
  width: 80vw;
}
#pool {
  position: absolute;
  top: 65%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}
#sun-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* position: relative; */
  width: 18%;
  margin-top: 5%;
  filter: drop-shadow(0 0 0.75rem yellow);
}
#half-sun-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* position: relative; */
  width: 22%;
  margin-top: 5%;
  filter: drop-shadow(0 0 0.75rem orange);
}
#moon-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* position: relative; */
  width: 15%;
  margin-top: 5%;
  filter: drop-shadow(0 0 0.75rem black);
}
#pool-text {
  font-size: 7vmin;
  text-align: center;

  /* filter: drop-shadow(0 0 3.75rem white); */
}
.morning-text {
  font-size: 7vmin;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 2px;
}
.morning-div {
  margin-top: -50px;
}
#school-icon {
  width: 20%;
  
  /* margin: 15px; */
  position: relative;
  left: 50%;
  top: 10vw;
  transform: translateX(-50%);
}
.Information11 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}
#gym-img {
  /* margin-top: -6vh; */
  width: 37vw;
  position: relative;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
}
.home-icon {
  position: absolute !important;
  background-color: rgba(255, 255, 255, 0);
  font-size: 13vmin;
  left: 3vw;
  direction: ltr;
  border: #ffffff00;
  height: 10vh;
  top: 85%;
}
.close-book {
  direction: rtl;
  font-size: 8vmin;
  position: absolute;
  top: 3.5vh;
  right: 83vw;
  border: #ffffff00;
  background-color: #ffffff00;
}
#gym-text {
  font-size: 8vmin;
  text-align: center;
  margin-top: -2vh;
}
Table {
  font-size: 7.5vmin;
  direction: rtl;
  position: absolute;
  top: 12vh;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw !important;
  /* margin-right: 7vw; */
}

.copy-icon {
  position: relative;
  width: 70vw;
  font-size: 7vmin;
  font-family: "horev";
  background-color: rgba(255, 255, 255, 0);
  margin: -4%;
  font-weight: 300;
}
.important-phones {
  font-size: 7vmin;
  text-align: center;
  margin-bottom: 3vh;
  position: relative;
  background-color: #ffffff00;
  border: 0cm;
  width: 90vw;
  font-family: "horev";
  left: 50%;
  transform: translateX(-50%);
}
