
/* #flip-book {
    width: 50vw !important;
    height: 90vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -20%;

} */
html,
body {
  height: 100%;
}

body {
    background-size: 100% 100%;
    overflow-y: hidden;
/* background-color: #2dbdbd; */
    
}

#header-book {
    width: 60vw;
    font-size: 25vmin;
    text-align: center;
    color: rgb(255, 255, 255);
    /* margin: 4%; */

    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.stf__item {
    display: none;
    position: absolute;
    transform-style: preserve-3d;
    background-color: #d3d0d0;
    width: 100vw !important;
    height: 75vh !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.cover {
    background-color: #2dbdbd;
} 
/* .color-cover {
    background-color: #2dbdbd !important;
    color: #2dbdbd;
}
Page {
    background-color: blue !important;
} */
/* 
.stf__item {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    perspective: 2000px;
} */
/* .demoPage {
    background-color: rgb(220, 70, 170);

    
} */
.album-web {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
    width: 90vw !important;
    height: 70vh !important;
    
    /* box-shadow: 15px 15px 15px 10px black; */
}
button {
    z-index: 3;
    position: absolute;
    top: 15%;
}
ul {
    position: relative;
    top: 10vh;
    left: 0%;
    direction: rtl;
    font-size: 9vmin;
    margin-top: -10%;
}
h1 {
    font-size: 13vmin;
    text-align: center;
}