@font-face {
  font-family: "horev";
  src: url("/assets/font/horevclm-heavy-webfont.ttf");
  font-weight: 100;
  font-weight: bold;
}


#root {
  height: 100%;
  overflow: hidden;
}
html,
body {
  height: 100%;
}

body {
  background: #EFF1E4;
  font-family: "horev";
  color: #000000;
  padding: 0;
  margin: 0;
  background-size: 100% 100%;
  overflow: hidden;
}
#header {
  font-size: 19vmin;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
  color: #6f5f57;
}
.react-multi-carousel-track {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, transition;
  position: relative;
  top: 0vh;
}
.books {
  margin-top: 40vh;
  width: 90%;
  /* height: 30vh; */
}
#top-books {
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  
}
#bottom-books {
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  transform: rotate(180deg);
}
.react-multiple-carousel__arrow--right {
  /* right: calc(4% + 1px); */
  display: none;
}
.react-multiple-carousel__arrow--left {
  /* right: calc(4% + 1px); */
  display: none;
}
